:root{
  --text-color: white;
  --navbar-color: #002244;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Mono;
  scroll-behavior: smooth;
}

.container{
  display: flex;
  flex-direction: column;
}


/* HEADER */
#navbar{
  background-color: var(--navbar-color);
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: -15;
  z-index: 1;
  opacity: 0.9;
}

#navbar ul{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

#navbar a, footer a{
  font-size: 1.2em;
  color: var(--text-color);
  text-decoration: none;
}

#navbar a:hover{
  text-shadow: 0px 5px 8px white;
}


/* INTRO */
#welcome-section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(-45deg, white, gray, #003153);
  color: white;
  text-shadow: 4px 4px 2px #0C2340;;
}

#welcome-section h1:hover, #welcome-section h3:hover{
  transform: scale(1.5);
}

#welcome-section h3{
  padding-top: 1em;
  width: 50%;
  text-align: center;
}


/* PROJECTS */
main{
  display: grid;
  grid-template-columns: 
      minmax(2rem, 1fr) 
      minmax(min-content, 8fr) 
      minmax(2rem, 1fr);
    ;
  align-self: center;
}

.buttons-container{
  /* border: 1px solid black; */
  grid-column: 2 / 3;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin: 1em;
}

.switch-button{
  grid-column: 2 / 3;
  width: 10em;
  height: 3em;
  background-color: var(--navbar-color);
  color: var(--text-color);
  border: 1px solid black;
  box-shadow: 2px 2px 3px 3px rgb(119, 119, 119);
  border-radius: 8px; 
  text-align: center;
}

.switch-button:hover{
  background-color: var(--text-color);
  color: var(--navbar-color);
}

.switch-button:active{
  background-color: black;
  color: var(--text-color);
}

.bar{
  grid-column: 2 / 3;
  height: 2em;
  width: 100%;
  background-color: black;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.circle{
  height:1em;
  width: 1em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 28%;
}

.circle.first{
  background-color: green; 
  left: 95%;
}

.circle.second{
  background-color: yellow; 
  left: 92%;
}

.circle.third{
  background-color: red; 
  left: 89%;
}

.projects-container{
  grid-column: 2 / 3;
  box-shadow: 0px 0px 5px 3px gray;
  border-radius: 5px;
  margin-bottom: 4em;
}

#projects{
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  border: 1px solid gray;
  border-radius: 0 0 5px 5px;
  min-height: 100vh;
  padding: 1em;
  gap: 1em;
}

.project-row{
  grid-column: 1 / 3;
  display: flex;
  gap: 2em;
}

.project-tile{
  max-height: 300px;
  width: 100%;
  aspect-ratio: 16 / 9;
  box-shadow: 0px 0px 5px 3px gray;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px gray;
}

img:hover{
  transform: scale(1.1);
  opacity: 0.6;
}

.project-tile, .project-description{
  border-radius: 10px;
}

.project-description{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3em;
  gap: 1em;
  background-color: rgb(72,84,124);
  text-align: justify;
  color: var(--text-color);
}

.project-title{
  flex: 1;
}

.project-paragraph{
  flex: 4;
}

/* FOOTER */
footer{
  grid-column: 1 / 4;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #002244;
}

footer p{
  display: flex; 
  align-items: center; 
  gap: 0.5em; 
  color: white;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer p:hover{
  color: violet;
  transform: translateY(-8px);
}

footer a{
  color: inherit; 
  text-decoration: none;
}

footer a:hover{
  color: inherit;
}

footer a:active{
  color: purple;
}

@media screen and (max-width: 1050px ){
  .container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  /* HEADER AND FOOTER */
  #navbar{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #navbar, footer{
    font-size: 0.8em;
  }

  #navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  #welcome-section h3{
    padding-top: 1em;
    width: 85%;
    text-align: center;
  }

  /* PROJECTS */
  .switch-button{
    font-size: 12px;
    width: 6.8em;
    height: 4em;
    padding: 5px;
  }
  
  .projects-container{
    grid-column: 2 / 3;
    border-radius: 5px;
    margin-bottom: 4em;
  }
  
  #projects{
    grid-column: 2 / 3;
    display: grid;
    grid-auto-rows: auto auto;
    border: 1px solid gray;
    min-height: 100vh;
    padding: 1em;
    gap: 1em;
  }
  
  .project-row{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  .project-tile{
    max-height: 300px;
    width: 100%;
  }
  
  .project-description{
    display: flex;
    width: 100%;
    padding: 3em;
    gap: 1em;
  }
}